# DOCKER
alias dcm='docker-compose'
alias dm='docker-machine'
alias dc='docker container'
alias di='docker image'
alias dn='docker network'
alias dv='docker volume'
alias ds='docker service'
alias dsw='docker swarm'
alias dst='docker stack'
alias dno='docker node'
alias dse='docker secret'

# GIT
alias gs='git status'
alias gss='git status --short'
alias gl='tig'
alias ga='git add'
alias gc='git commit'
alias gd='git diff'
alias gaac='git add -A && git commit -m'
alias gcm='git commit -m'
alias gf='git fetch'
alias gb='git branch'
alias gr='git rebase'
alias gp='git pull'
alias gpo='git push origin'
