# Copy this file to `.env.local` and fill out the values.
VITE_WORKOS_CLIENT_ID=client_...

# This should be your Custom Authentication Domain in production
VITE_WORKOS_API_HOSTNAME=api.workos.com

###############
# Server-only #
###############
DATABASE_URL="dev.db"
WORKOS_API_KEY="sk_test_..."

SLACK_WEBHOOK_FOR_DEALS_CHANNEL=

JWT_SECRET=

# Prod
# DATABASE_URL=
# TURSO_AUTH_TOKEN=
