.claude/
*.db
TANK/
src/routeTree.gen.ts
.env
.env*
.env.local
.envrc

dist/
build/
.astro/

.cache/
.mypy_cache/
.parcel-cache/
.netlify/
.swc/
.gradle/
.netlify/
.wrangler

*.bak
*.orig
*PENDING_DELETION*

# Editors
*~
tags
tags.*
.idea/
.vs/
.vim/
*.sw[op]

# Haskell
.stack-work/
dist-newstyle

# Python
*.py[cod]
__pycache__/
.venv/

# Ruby
/.bundle

# Node
node_modules/

# Elixir
.elixir_ls/
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
my_app-*.tar
/priv/static/

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
