# output directories
_site/
dist/
build/

# developer tools
.git/
node_modules/
__pycache__/
.vim/
.idea/
pg/
.swc/
pnpm-lock.yaml

*.min*

# caches
.astro/
.cache/
.parcel-cache/
.mypy_cache/
.next/
.netlify/
.swc/
.wrangler/

# phoenix
deps/
_build/
.elixir_ls
priv/

*.bak
TANK/
