# Change filename to `.env.local` to use this file
# This file is only used in development

# PUBLIC CLIENT VARS ######################

VITE_WORKOS_CLIENT_ID=get_this_from_workos
VITE_WORKOS_API_HOSTNAME=api.workos.com


# PRIVATE SERVER VARS #####################

# Use Turso if you want
DATABASE_URL="dev.db"
WORKOS_API_KEY=get_this_from_workos

# if using Turso, otherwise leave undefined
TURSO_AUTH_TOKEN=
