# fly.toml app configuration file generated for codeselfstudy on 2026-01-06T22:09:29-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "codeselfstudy"
primary_region = "sjc"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpus = 1
  memory_mb = 256


