footer.page-footer {
    background-color: #333;
    color: #bbb;

    a {
        color: #bbb;
        text-decoration: none !important;
    }

    .icons {
        margin-left: 2em;
        margin-top: 1em;
    }

    a:hover {
        text-decoration: underline !important;
    }
}
