.service-links ul.links li{display:inline-block;}
.sprites.service-links span{display:block;}
.service-links span.hide{display:none;}
.sprites.service-links {background-repeat: no-repeat; float:left;}
.sprites.service-links.w16 {padding-left: 18px; background-image:url("sl_sprites16.png");}
.sprites.service-links-digg {background-position: 0 0px; height:16px}
.sprites.service-links-stumbleupon {background-position: 0 -16px; height:16px}
.sprites.service-links-twitter {background-position: 0 -32px; height:16px}
.sprites.service-links-reddit {background-position: 0 -48px; height:16px}
.sprites.service-links-slashdot {background-position: 0 -64px; height:16px}
.sprites.service-links-facebook {background-position: 0 -80px; height:16px}
.sprites.service-links-google-plus {background-position: 0 -96px; height:16px}
.sprites.service-links-linkedin {background-position: 0 -112px; height:16px}
