---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About" description="About page">
  <h1>About</h1>
  <p>
    We organize several tech meetup groups in Berkeley, California with over
    5,000 members in total. We also organize events around the San Francisco Bay
    Area.
  </p>

  <p>Be sure to follow both calendars below to stay updated!</p>

  <p>
    <a href="https://www.meetup.com/codeselfstudy/">Join the Meetup Group</a>
  </p>
  <p>
    <a href="https://luma.com/calendar/cal-IyvrIRLcRC3FQqt?period=past"
      >Follow the Luma Calendar</a
    >
  </p>
</Layout>
