<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Code Self Study Server</title>
        <meta name="robots" content="noindex,nofollow" />
        <style>
            body {
                font-family: monospace;
            }
            #spinner {
                max-width: 300px;
                margin: 19px auto;
            }
            .hidden {
                display: none;
            }
            #cat img {
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <div id="spinner">
            <p><marquee>downloading jquery, please wait</marquee></p>
            <p>
                <img src="{{ url_for("static", filename="spinner.gif") }}"
                alt="loading&hellip;" />
            </p>
        </div>

        <div id="cat" class="hidden">
            <img src="https://placekitten.com/600/600" alt="codeselfstudy" />
        </div>

        <script>
            var CodeSelfStudy = { SPA: {} };
            CodeSelfStudy.SPA.init = function () {
                var spinner = document.getElementById("spinner");
                var cat = document.getElementById("cat");
                setTimeout(() => {
                    spinner.classList.add("hidden");
                    cat.classList.remove("hidden");
                }, 5000);
            };
            document.addEventListener("DOMContentLoaded", function () {
                CodeSelfStudy.SPA.init();
            });
        </script>
    </body>
</html>
