footer.page-footer {
    background-color: #333;
    color: #bbb;

    a {
        color: #bbb;
    }
}

footer.page-footer .icons {
    margin-left: 2em;
    margin-top: 1em;
}

footer.page-footer a {
    text-decoration: none !important;
}
