// Override Bulma (and other) SCSS variables in this file.
// $primary: #1967be;
// $success: ;

// FONTS
$body-size: 18px;
$family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$family-monospace: 'Source Code Pro', monospace;
