@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import "@fontsource/anton";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.5% 0 0deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.5% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.5% 0 0deg);
  --primary: oklch(20.5% 0 0deg);
  --primary-foreground: oklch(98.5% 0 0deg);
  --secondary: oklch(97% 0 0deg);
  --secondary-foreground: oklch(20.5% 0 0deg);
  --muted: oklch(97% 0 0deg);
  --muted-foreground: oklch(55.6% 0 0deg);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(58% 0.22 27deg);
  --border: oklch(92.2% 0 0deg);
  --input: oklch(92.2% 0 0deg);
  --ring: oklch(70.8% 0 0deg);
  --chart-1: oklch(80.9% 0.105 251.813deg);
  --chart-2: oklch(62.3% 0.214 259.815deg);
  --chart-3: oklch(54.6% 0.245 262.881deg);
  --chart-4: oklch(48.8% 0.243 264.376deg);
  --chart-5: oklch(42.4% 0.199 265.638deg);
  --radius: 0.625rem;
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.5% 0 0deg);
  --sidebar-primary: oklch(20.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(97% 0 0deg);
  --sidebar-accent-foreground: oklch(20.5% 0 0deg);
  --sidebar-border: oklch(92.2% 0 0deg);
  --sidebar-ring: oklch(70.8% 0 0deg);

  /* Don't use --root-font-sans directly */
  --root-font-sans:
    "Inter Variable", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --header-font: "Anton", var(--root-font-sans);
}

.dark {
  --background: oklch(14.5% 0 0deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(20.5% 0 0deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(20.5% 0 0deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(87% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);
  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(26.9% 0 0deg);
  --muted-foreground: oklch(70.8% 0 0deg);
  --accent: oklch(37.1% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.6% 0 0deg);
  --chart-1: oklch(80.9% 0.105 251.813deg);
  --chart-2: oklch(62.3% 0.214 259.815deg);
  --chart-3: oklch(54.6% 0.245 262.881deg);
  --chart-4: oklch(48.8% 0.243 264.376deg);
  --chart-5: oklch(42.4% 0.199 265.638deg);
  --sidebar: oklch(20.5% 0 0deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(26.9% 0 0deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(55.6% 0 0deg);
}

@theme inline {
  --font-sans: var(--root-font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  body {
    @apply bg-background text-foreground m-0 font-sans;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply font-sans;
  }

  h1 {
    @apply mb-4 text-5xl font-bold;

    font-family: var(--header-font);
  }

  h2 {
    @apply mb-4 text-2xl font-bold;

    font-family: var(--header-font);
  }

  a {
    @apply text-blue-600 hover:underline;
  }

  p {
    @apply my-6;
  }

  blockquote {
    @apply my-6 border-l-4 border-gray-300 pl-4 italic;
  }

  ul {
    @apply list-disc space-y-2 pl-6;
  }
}

@layer components {
  /* The patterns are from https://www.heropatterns.com/ */
  .bg-bevel-circle {
    background-color: var(--background);
    background-image: url("/patterns/bevel-circle.svg");
  }

  .bg-dice {
    background-color: var(--background);
    background-image: url("/patterns/dice.svg");
  }

  .bg-steel-beams {
    background-color: var(--background);
    background-image: url("/patterns/steel-beams.svg");
  }

  .bg-circuit-board {
    background-color: var(--background);
    background-image: url("/patterns/circuit-board.svg");
  }

  .bg-temple {
    background-color: var(--background);
    background-image: url("/patterns/temple.svg");
  }

  .bg-cogs {
    background-color: var(--background);
    background-image: url("/patterns/cogs.svg");
  }

  .bg-hexagons {
    background-color: var(--background);
    background-image: url("/patterns/hexagons.svg");
  }

  .bg-pie-factory {
    background-color: var(--background);
    background-image: url("/patterns/pie-factory.svg");
  }

  .bg-graph-paper {
    background-color: var(--background);
    background-image: url("/patterns/graph-paper.svg");
  }

  .bg-topography {
    background-color: var(--background);
    background-image: url("/patterns/topography.svg");
  }
}
