---
import "@/styles/global.css";
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  lang?: string;
}
const { title, description, lang = "en" } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-white font-['Open_Sans'] text-[#4a4a4a]">
    <Navbar client:load />

    <main class="mx-auto mt-[58px] max-w-[1344px] px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
